
  @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');


body {
  background-image:linear-gradient(to right, teal, black) ;
}
.box {
  background-image: linear-gradient(to right, #191919, #FA7070);
  color: white;
  font-family: sans-serif;
  max-width: 75vw;
  border-radius: 10px;
  font-family: 'Playpen Sans', cursive;
}

.boxx {
  background-image: linear-gradient(to right, green,rgb(255, 183, 0));
  color: white;
  font-family: sans-serif;
  max-width: 75vw;
  border-radius: 10px;
  font-family: 'Playpen Sans', cursive;
}


@media (max-width:475px) {
   .box, .boxx {
    max-width: 100vw;
    font-family: 'Playpen Sans', cursive;
   }
}